.title {
    text-align: center;
}

.title > a {
    color: black;
}

.number {
    color: #6F8BC1;
    font-weight: bold;
}

.area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}